.container {
  margin: 0 auto;
  padding: 0;
  font-family: 'Monserrat', sans-serif;
  text-align: center;
  color: #fafafa;
}

.ad-vid {
  margin-left: 10%;
}

h5 {
  padding: 3em 2em;
}

p {
  padding: 1em 1em;
}

.top-para {
  margin-top: 5em;
}

.graphic {
  width: 80%;
}

.demo-vid {
  margin-left: 10%;
}


 @media(min-width:1000px){
  .container {
    width: 90%;
  }

  div h3 {
    font-size: 1.8em;
  }
}
    
@media(min-width:1600px){
  .container {
    width: 75%;
  }
}
