.container {
  margin: 0 auto;
  font-family: 'Monserrat', sans-serif;
  text-align: center;
  color: #fafafa;
}

div h3 {
  color: #fafafa;
  font-size: 1.4em;
  text-align: center;
  padding: 1.5em 0em;
}

 @media(min-width:1000px){
  .container {
    width: 90%;
  }

  div h3 {
    font-size: 1.8em;
  }
}
    
@media(min-width:1600px){
  .container {
    width: 75%;
  }
}
